#sticky {
  padding: 0px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .70);
  color: #fff;
  font-size: 2em;
  font-family: "Roboto Condensed";
  font-weight: 300;
  vertical-align: middle;
}
#sticky.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
}
.titletext {
  font-family: "Roboto Condensed";
  font-size: 60px;
  font-weight: bold; 
  margin: 0;
  padding: 0;
  display: inline-block;
  color: black;
}
.icons {
  font-size: 30px;
  margin: 20px 0;
  clear: both;  
}
.title {
  font-size: 10px;
  margin: 0 20%;
}
.icon {
  margin: 0 4px;
  color: black;
}
.icon:hover{
  -webkit-transition: .4s;
  color: red;
}
body {
  min-width: 300px;
}
.contentwrapper {
  max-width: 600px;
  padding: 10px 0 0 0 ;
}
#twitterwrap{
  display: inline-block;
  width: 400px;
  height: 250px;
  border: 3px solid red ;
  float: bottom;
}
#antisocial {
  font-size: 30px;
  display: inline-block;
  font-family: "Amatic SC";
  margin: -5px 0;
}
.posttitle {
  font-size: 30px;
  font-family: "Nova Round";
  font-weight: 300;
  padding: 5px 0;
}
.Nav {
  font-family: "Roboto Condensed";
  font-size: 20px;
  color: white;
  border-radius: 0;
  display: inline-block;
  padding: 0 30px;
  vertical-align: middle;
  margin: 6px 0;

}
#mrtitle {
  font-family: "Roboto Condensed";
  font-size: 20px;
  color: red;
  border-radius: 0;
  display: inline-block;
  padding: 0 30px;
  vertical-align: middle;
  margin: 6px 0;
}
.block{
  width: 100px;
  display: inline-block;
}
.Nav:hover {
  color: rgba(255, 0, 0, 1);
  -webkit-transition: .3s;
}
a {
  text-decoration: none;
  font-family: "Arimo"
  font-size: 10px;
}
#abouttext {
  display: inline-block;
  vertical-align: middle;
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
  margin: 0 0 26px 26px;
  vertical-align: middle;
  color: red;
}
h1 {
  font-family: "Roboto Condensed";
  font-weight: 300;
}
h2 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 20px;
}
h3 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 18px;
}
p {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 200;
}
.limiter {
  max-width: 100%;
  margin: 0 25%;
}
ul {
  font-family: "Helvetica Neue";
  font-weight:200;
  list-style-type: square;
}
.footer {
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 200;
}